beautifulsoup4==4.7.1
boto==2.49.0
boto3==1.9.101
botocore==1.12.101
bs4==0.0.1
bz2file==0.98
certifi==2018.11.29
chardet==3.0.4
docutils==0.14
gensim==3.7.1
idna==2.8
jmespath==0.9.3
nltk==3.4
numpy==1.16.1
pprint==0.1
python-dateutil==2.8.0
PyYAML==3.13
requests==2.21.0
s3transfer==0.2.0
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
smart-open==1.8.0
soupsieve==1.7.3
stop-words==2018.7.23
Unidecode==1.0.23
urllib3==1.26.5
